body {
    background-color: antiquewhite;
    justify-content: center;
}

.horoscope {
    display: none;
    text-align: center;
}

.horoscope_container{
    border : 2px black solid; 
    justify-content: center;
    padding: 3%;
    text-align:center;
    margin: 10%;

}

.welcome{
    text-align: center;
}